/*  your css code here. If applicable */
#loading {
        display: none;
        font-weight: bold;
        margin: 10px;
      }
      #error {
        color: red;
        font-weight: bold;
        margin: 10px;
      }
      #output img {
        margin: 10px;
        border: 2px solid #ccc;
      }